body{
	background-color:#f3cdd4;
	font-size:25px;
	
}
header{
	display: flex;
	align-items:center;
	justify-content: start;
	flex-direction:row;
}
section#te{
	width:8%; 
	margin-right: 10px;
}
section#pq{
	font-size:25px;
}
nav{
	display:flex;
	justify-content: space-evenly;
	border-radius:6px;
	width: 90%;
	height:33px;
	font-size:20px;
	align-items: center;
}
a{
	color:  black;
	font-family: arial;
	text-decoration:none;
	margin-left: 5px;
	word-spacing:3px;
	margin-right: 9px;
}
#c:hover{
	font-size:23px;
	color:#a62550;
	font-family: arial;
	text-decoration:underline;
}
main{
	background-color:#f3cdd4;
	display:flex;
	justify-content:center;
}
form{
	background-color:#ff738f;
	font-size:15px;
	padding:30px;
	width:450px;
	height:auto;
	display:flex;
	flex-direction:column;
}
input{
	font-size:20px;
	color:#760853;
	border-radius:8px;
	height:30px;
}
