body{
	background-color: #f3cdd4;
}
header{
	display: flex;
	align-items:center;
	justify-content: start;
	flex-direction:row;
}
section#te{
	width:8%; 
	margin-right: 10px;
}
section#pq{
	font-size:2em;
}
nav{
	display:flex;
	justify-content: space-evenly;
	border-radius:6px;
	width: 90%;
	height:33px;
	font-size:1em;
	align-items: center;
}
a{
	color:  black;
	font-family: arial;
	text-decoration:none;
	margin-left: 5px;
	word-spacing:3px;
	margin-right: 9px;
}
#c:hover{
	font-size:1em;
	color:#a62550;
	font-family: arial;
	text-decoration:underline;
}
section#i{
	margin-bottom: 40px;
}
footer{
	background-color:#9496a7;
	border:auto;
}
main{
	align-items: center;
	justify-content: space-evenly;
	display:flex;
	text-align:justify;
	margin-left:20px;
}
p{
	font-size:1em;
	font-family:arial;
	text-align:justify;
	
}
h1{
	font-size:1em;
	font-family:arial;
}
ul{
	font-size:1em;
	font-family:arial;
	text-align:justify;
	
}

